body{
	font-family: Bahnschrift, SemiBold, Condensed;
}
.caption{
	font-size: 24px;
	margin: 7.5px;
}
#main{
	width: 375px;
	text-align: center;
	position: absolute;
	left: 0px;
	right: 0px;
	margin-left: auto;
	margin-right: auto;
}
.number{
	height: 30px;
	width: 300px;
	margin-bottom: 15px;
}
.button{
	width: 300px;
	display: block;
	height: 40px;
	border-radius: 5px;
	border: 0px;
	cursor: pointer;
	position: absolute;
	left: 0px;
	right: 0px;
	margin-left: auto;
	margin-right: auto;
	background-color: #766bfd;
	color: #ffffff;
	font-size: 15px;
}
#res{
	margin-top: 60px;
}
#gen{
	margin-top: 5px;
}